body{
	background-color: white;
}

h1 {
	color: #7D110C;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 75px;
	text-align: center;
	padding-top: 40px;

}

.nav {
	color: black;
	font-variant: small-caps;
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
	border-top-style: dashed;
	border-width: 3px;
	border-bottom-style: dashed;
	border-width: 3px;
	padding-bottom: 25px;

a:hover {
  color: red ;
  background-color: #def ;
}

}

span {
	padding-right: 25px;
}

.ad-wrap {
	background-color: cyan;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 100px;
}

.story {
	padding-bottom: 10px;
	text-align: center;
	border-bottom-style: dashed;
	border-width: 3px;
}

.kicker {
	padding-top: 25px;
	border-top-style: dashed;
	border-width: 3px;
	text-align: center;
	font-size: 75px;
	font-family: 'Open Sans', sans-serif;
	color:   #333333;
	padding-bottom: 20px;

}

.summary {
	font-size: 30px;
	text-align: center;
	font-style: italic;
	padding-bottom: 10px;
	font-family: 'Gentium Book Basic', serif;
	color:  #333333;
	padding-top: 20px;


}

.main-sidebar {
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 20px;
}

h2 {
	font-size: 30px;
	font-family: serif;
	font-weight: bold;
	text-align: left;
	padding-top: 10px;
	font-family: 'Open Sans', sans-serif;
	color:  #333333;

}

h3 {
	padding-top: 10px;
	font-size: 20px;
	font-style: italic;
	text-align: left;
	font-family: 'Gentium Book Basic', serif;
	color:  #333333;
}

.container {
	background-color: #7D110C;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

h4 {
	font-size: 20px;
	font-weight: bold;
	color:  #aab7b8; 
}

.footer {
	background-color: red;
	padding-top: 40px;
	padding-bottom: 20px;
	color: white;
	text-align: center;
}

h5 {
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 10px;
}

.refers {
	background-color: #7D110C;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

img {
    width: 700px; /* you can use % */
    height: auto;
}